:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

* {
    /*border: red 1px solid;*/
    box-sizing: border-box;
    margin: 0;
}

html {
    @apply h-full
}

body {
    @apply h-full bg-background;
}

#root {
    @apply h-screen overflow-hidden;
}
