@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Gaegu&family=Quicksand:wght@300..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import "tailwindcss";


@theme {
    /* THEME 1: Blue / Yellow / Red*/
    --color-primary: oklch(0.905 0.182 98.111);
    --color-button: oklch(0.849 0.158 97.399);
    --color-background: var(--color-sky-900);
    --color-accent: #ff4e30;
    --color-green: oklch(0.766 0.118 145.295);
    --color-footer: var(--color-primary);
    --color-text: var(--color-background);
    /**/
    /* THEME 2: Green / Yellow / Red*/
    /*--color-primary: #ffab00;*/
    /*--color-button: var(--color-primary);*/
    /*--color-background: #008aa1;*/
    /*--color-accent: #00592e;*/
    /*--color-footer: var(--color-sky-950);*/
    /*--color-text: var(--color-sky-900);*/
    /**/
    /* FONTS */
    --font-gaegu: 'Gaegu', sans-serif;
    --font-zain: 'Zain', sans-serif;
    --font-calistoga: 'Calistoga', serif;
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    @apply box-border;
    /*border: red 1px solid;*/
}

html {
    scrollbar-gutter: stable;
    @apply h-full p-0 m-0;
}

body {
    @apply h-full bg-background p-0 m-0;
}

#root {
    @apply min-h-screen p-0 m-0;
}
